<h1>Player#score</h1>
<p>Find me in app/views/player/score.html.erb</p>


<strong>Your word:</strong> <%= @attmept %>

<%= "Time Taken to answer: #{@result[:time]}" %>
<%= "Your score: #{@result[:score]}" %>
<%= "Message: #{@result[:message]}" %>
<p>***************************************************** </p>
